<html xmlns:th="https://www.thymeleaf.org/">
    <head>
        <title>Test1</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
              integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
              crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed"
                            data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                            aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span> <span
                            class="icon-bar"></span> <span class="icon-bar"></span> <span
                            class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li sec:authorize="isAuthenticated()"><a th:href="@{/pedidos}">Pedidos</a></li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li sec:authorize="isAuthenticated()"><a th:href="@{/clientes}">Clientes</a></li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li sec:authorize="isAuthenticated()"><a th:href="@{/productos}">Productos</a></li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li sec:authorize="isAuthenticated()"><a th:href="@{/servicios}">Servicios</a></li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Cerrar
                                sesión</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 container justyfi-conter-center card">
                    <h1 class="text-center">Editar Producto</h1>
                    <div class="card-body">
                        <div class="container ">
                            <br>
                            <br>
                            <div class="container">
                                <div><b>ID PEDIDO: </b><span th:text="${pedido.idPedido}" th:object="${pedido}"></span></div>
                                <div><b>FECHA DEL PEDIDO: </b><span th:text="${pedido.fecha}"></span></div>
                            </div>

                            <div>
                                <h3>Modificar los items del pedido</h3>
                                <!--<h2>Cliente</h2>-->
                                <!--<br>-->
<!--                                <div th:if="${pedido.persona != null}">
                                    <div><b>Nombres: </b><span th:text="${pedido.persona.nombre}"></span></div>
                                    <div><b>Apellidos: </b><span th:text="${pedido.persona.apellido}"></span></div>
                                    <div><b>Documento: </b><span th:text="${pedido.persona.dni}"></span></div>

                                </div>
                                <div th:if="${pedido.empresa != null}">
                                    <div><b>Razon Social: </b><span th:text="${pedido.empresa.razonSocial}"></span></div>
                                    <div><b>Cuit: </b><span th:text="${pedido.empresa.cuit}"></span></div>
                                    <div><b>Fecha inicio de actividades: </b><span th:text="${pedido.empresa.fecha}"></span></div>
                                </div>-->
                            </div>




                            <br>
                            <br>
                            <div class="container">
                                <br>
                                <br>
                                <table class="table table-bordered">
                                    <thead >
                                        <tr>
                                            <th>Descripcion</th>
                                            <th>Unidades</th>
                                            <th>Precio</th>
                                            <th>Mantenimiento</th>
                                            <th>Garantia (años)</th>
                                            <th>IVA</th>
                                            <th>IIBB</th>
                                            <th>subtotal</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr th:each="item : ${items}">
                                            <td th:text="${item.descripcion}"></td>
                                            <td th:text="${item.unidades}"></td>
                                            <td th:text="${item.precio}"></td>
                                            <td th:text="${item.mantenimiento}"></td>
                                            <td th:text="${item.garantia}"></td>
                                            <td th:text="${item.IVA}"></td>
                                            <td th:text="${item.IIBB}"></td>
                                            <td th:text="${item.subtotal}"></td>
                                            <td th:text="${item.total}"></td>

                                            <td>
                                                <a th:href="@{/pedidos/editar_pedido/editar_items/item/{id}(id=${item.idItem})}" th:object="${item}" class="btn btn-warning"> Editar</a>
                                                <a th:href="@{carrito/eliminar/{id} (id=${item.idItem})}" th:object="${item}" class="btn btn-danger"> Eliminar</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    </body>
</html>