<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta charset="utf-8">
        <title>Inicio</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
              integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
              crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed"
                            data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                            aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span> <span
                            class="icon-bar"></span> <span class="icon-bar"></span> <span
                            class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li sec:authorize="isAuthenticated()"><a th:href="@{/pedidos}">Pedidos</a></li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li sec:authorize="isAuthenticated()"><a th:href="@{/clientes}">Clientes</a></li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li sec:authorize="isAuthenticated()"><a th:href="@{/productos}">Productos</a></li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li sec:authorize="isAuthenticated()"><a th:href="@{/servicios}">Servicios</a></li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Cerrar
                                sesión</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <h1>Clientes</h1>

        <div class="container">
            
            <br><h3>Listado Empresas Vinculables</h3>
                
                    <form class="form-inline" th:action="@{/clientes}">
                        <div class="form-group">
                            <label>Filtrar Empresas  :  </label>
                        </div>
                        <div class="form-group" >
                            <input type="text" name="palabraClave" 
                                   class="form-control" id="palabraClave" 
                                   th:value="${palabraClave}" 
                                   placeholder="Razon Social" required>
                        </div>
                        <input type="submit" class="btn btn-info mb-2" value="Buscar">
                        <input type="button" class="btn btn-info mb-2" value="Limpiar" onclick="limpiarCampos()">
                    </form>
            <br>
            <br>
            <div class="container">
            <table class="table table-striped table-bordered">
                <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Tipo Comprador</th>
                    <th>Cuit</th>
                    <th>RazonSocial</th>
                    <th>Inicio Actividades</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody >
                    <tr th:each="cliente : ${empresas}" th:if="${cliente.persona == null}">
                        <td th:text="${cliente.idCliente}"></td>
                        <td th:text="${cliente.tipo}"></td>
                        <td th:text="${cliente.cuit}"></td>
                        <td th:text="${cliente.razonSocial}"></td>
                        <td th:text="${cliente.fecha}"></td>
                        <td>
                            <div th:if="${cliente.persona == null}" >
                                <a th:onclick="${}" class="btn btn-primary" 
                                   th:href="@{/clientes/vincular_empresa/persona/empresa/{id}(id=${cliente.idCliente})}">Vincular</a>
                            </div>
                            
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Latest compiled and minified JavaScript -->
        
        <script type="text/javascript">
            function limpiarCampos(){
                window.location='/clientes';
            }
        </script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    </body>
</html>